doctype html
html(lang="es")
  head
    meta(charset='UTF-8')
    title!= title
    link(rel="stylesheet", href="css/style.css")
  body
    h1!= message
    hgroup
        #contentTitle Acceso Usuario
    #dashboard.panel
      .row         
        button.button.buttonBlue.camControl(type='button')
          | Home
          .ripples.buttonRipples#btnHOME
          span.ripplesCircle
        button.button.buttonBlue.camControl(type='button')
          | M1
          .ripples.buttonRipples#btnM1
          span.ripplesCircle
        button.button.buttonBlue.camControl(type='button')
          | M2
          .ripples.buttonRipples#btnM2
          span.ripplesCircle   
        button.button.buttonBlue.camControl(type='button')
          | M3
          .ripples.buttonRipples#btnM3
          span.ripplesCircle     
      .row
        button.button.buttonBlue.camControl(type='button')
          | UP
          .ripples.buttonRipples#btnUP
          span.ripplesCircle
      .row    
        button.button.buttonBlue.camControl(type='button')
          | LEFT
          .ripples.buttonRipples#btnIZQ
          span.ripplesCircle
        button.button.buttonBlue.camControl(type='button')
          | RIGHT
          .ripples.buttonRipples#btnDER
          span.ripplesCircle
      .row       
        button.button.buttonBlue.camControl(type='button')
          | DOWN
          .ripples.buttonRipples#btnDOWN
          span.ripplesCircle
      .row    
        button.button.buttonBlue.camControl(type='button')
          | Zoom IN
          .ripples.buttonRipples#btnZIN
          span.ripplesCircle
        button.button.buttonBlue.camControl(type='button')
          | Zoom OUT
          .ripples.buttonRipples#btnZOUT
          span.ripplesCircle 
    a(href='#')#logout logout
    footer
      #message
    input(type="hidden", id="UserName",name="UserName",value=UserName )  
    input(type="hidden", id="UserRole",name="UserRole",value=Role)  
    input(type="hidden", id="wssURL",name="wssURL",value=wssURL)   
    input(type="hidden", id="token",name="token",value=Token)
    script(src='js/jquery-2.2.4.min.js')
    script(src='js/lib/md5.min.js')
    script(src='js/lib/base64.min.js')
    script(src='js/dashboard.js')
        
    